name: Github Actions

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout # get src
        uses: actions/checkout@v2

      - name: Docker meta # DockerHub repository settings
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: leophenomx/github-action
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}

      - name: Download S3 # Download Dummy file from S3 Bucket
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws s3 cp \
            s3://github.access.test/test-img.png ./

      - name : Check Path # Check whether we can access inside of Docker Container
        run: |
          ls -al ./ && \
          md5sum ./test-img.png

      - name: Login to DockerHub # Docker Hub login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push # image build & push to DockerHub
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}