name: Github Actions

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
# get src
      - name: Checkout
        uses: actions/checkout@v2

#  DockerHub repository settings
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: leophenomx/github-action # inuput DockerHub 
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}

# Download Dummy file from S3 Bucket
      - name: Download S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws s3 cp \ 
            s3://github.access.test/test-img.png ./

# Check whether we can access inside of Docker Container.
      - name : Check Path
        run: |
          ls -al ./ && \
          md5sum ./test-img.png

# Docker Hub login
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

# image build & push to DockerHub
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
	        file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}